* {
  margin:0;
  padding:0;
}


html{
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

ul{
  list-style: none;
}


div.typewriter-text{
  font-size: 3rem;
  font-family: 'Permanent Marker', cursive;
  
}



h2{
  font-family: 'Poiret One', cursive;
  margin-top:20px;
  color:#de8787;
  opacity: 0;
}

img{
  width:200px;
  height:200px;
  background-color: #fff;
  transition:0.5s;
}

canvas{
  z-index: 0;
  /*position: absolute;*/
}

.nav-hamburger{
  margin-right:auto;
  margin-left:100px;
  width:40px;
  height:40px;
  background-color: transparent;
  border:2px solid #de8787;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  opacity: 0;

}

.nav-ham-bar1{
  width:30px;
  animation: nav-bar-movementA;
}
.nav-ham-bar2{
  width:20px;
  animation: nav-bar-movementB;
  animation-delay: .1s;
  
}
.nav-ham-bar3{
  width:10px;
  animation: nav-bar-movementC;
  animation-delay: .2s;
}
.nav-ham-bar1,.nav-ham-bar2,.nav-ham-bar3{
  margin-left:5px;
  margin-bottom:5px;
  height:3px;
  background-color: #de8787;
  animation-duration: .5s;
  transition: .3s;
}
.nav-hamburger:hover .nav-ham-bar1{
  width:10px;
}
.nav-hamburger:hover .nav-ham-bar2{
  width:30px;
}
.nav-hamburger:hover .nav-ham-bar3{
  width:20px;
}

@keyframes nav-bar-movementA{
  0%{
    width:0;
  }
  100%{
    width:30px;
  }
}
@keyframes nav-bar-movementB{
  0%{
    width:0;
  }
  100%{
    width:20px;
  }
}
@keyframes nav-bar-movementC{
  0%{
    width:0;
  }
  100%{
    width:10px;
  }
}

.collapsed-navlinks{
  position: fixed;
  top:0px;
  transform: translate3d(0,-300px,0);
  z-index: 30;
  background-color: #de8787;
  width:100%;
  transition: .3s;
}
.collapse-show{
  transform:translate3d(0,60px,0);
}
.collapsed-navlinks li{
  margin-left: 50px;
  padding:8px 0;
  font-weight: bold;
}

.collapsed-navlinks a{
  color:#000;
  text-decoration:none;
}



/*Main Title Section*/

.container{
  position:fixed;
  top: 0;
  left: 0;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 60px;
  background-color:#222;
  transition-duration: 1s;
  text-decoration: none;
  z-index: 10;

}

a.item{
  position: relative;
  padding: 5px;
}

a.item:after {    
  /*background: none repeat scroll 0 0 transparent;*/
  bottom: 0;
  content: "";
  /*display: block;*/
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a.item:hover:after { 
  width: 80%; 
  left: 10%; 
}

a.item:active{
  color:#fff;
}

a.item button{
  color:#fff;
  background-color:#000;
  border:none;
  outline:none;
}


/*
.testa:focus{
  color:red;
}*/

.item{
  
  margin-right:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#222;
  color:#de8787;
  transition: 0.5s;
  text-decoration: none;
}

.item:hover{
  text-decoration: none;
  color:#fff;

}
.active{
  color:#fff;
}



#right-most{
  margin-right:100px;
}


.typewriter {
    font-family: Courier, monospace;
    display: inline-block;
    color:#fff;

}

.typewriter-text {
    /*display: inline-block;*/
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 0.5s steps(30, end), blink .5s step-end 1;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid #000;
    box-sizing: border-box;
}

#delay-typing{
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes typing {
    0% { 
        width: 0% 
    }
    50%{
        opacity: 1; 
    }
    100% { 
        width: 100%;
        opacity:1;

    }
}

@keyframes blink {
    from, to { 
        border-color: transparent; 
    }
    50% { 
        border-color: orange; 
    }
    100%{
      border-color: transparent;
    }
}

.main-title{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height: 100vh;
  text-align:center;
  background-color:#000;
  color: white;
  position: relative;
  
}
.main-title-content{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
}

.title-button{
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  align-self:center;
  margin:50px;
  font-size:3rem;
  transition: 0.5s;
  outline: none;
  color:#fff;
  text-decoration: none;
  padding:10px;

}

.title-button:hover{
  color:#e82525;
}

/*About Section*/

.skill-title{
  text-align: center;
  margin-top:80px;
}

.skills{
  padding:20px;
  color:#fff;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 3rem;
}

.skill{
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  text-align: left;
}



/*Projects Section*/

.projects-section{
  display: flex;
  flex-direction: column;
  background-color: #017888;
  align-items: center;
  justify-content: center;
  background-color: #111;
}

.singleP-section{
  display: flex;
  justify-content: center;
  margin:20px 0;
  flex-wrap: wrap;

}

.project{
  background-color: #17252A;
  text-align: center;
  margin:20px 20px;
  color:#fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.5s;
  border-radius: 10%;
}

.project:hover{
  color:#81EAD6;
  transform: translateY(10px);
  /*transform: scale(1.1);*/
}

.caption{
  padding: 10px 0;
  text-decoration: none;
  color:#fff;
}

.init-none{
  display: none;
  color:#7cf8ff;
  width:200px;
  height:200px;
  background-color:  #17252A;
  border-radius: 10%;

  /*opacity:0;*/
  transition:1s;*/
}

.init-none:hover{
  opacity:1;
}



.quotes{
  font-size: 13px;
}

.link{
  color:#f9fca6;
  text-decoration: underline;
}

#p-title{
  color:#fff;
  padding:100px 0 50px 0;
}

/*Contact Section*/

.contacts{
  background-color:#222;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact{
  color:#fff;
  text-align: center;
  font-size: 1.5rem;
  margin:20px;
  transition: 0.5s;
  text-decoration: none;
}

.contact:hover{
  color:#81EAD6;
  transform: rotate(10deg);
}




@media(max-width: 860px){
  #p-title{
    font-size: 2rem;
  }
}

@media(max-width:670px){
  nav .item{
    display:none;
  }
  .singleP-section{
    flex-wrap: wrap;
  }
  div.typewriter-text,h2.typewriter-text{
    font-size: 1.5rem;
  }
  .nav-hamburger{
    opacity: 1;
  }



}

@media(max-width: 565px){
  #p-title{
    font-size: 1rem;
  }
}



@media(max-width: 484px){
  .container{
    font-size:1rem;
  }
  .item{
    width:80px;
  }
  .title-button{
    font-size: 1rem;
  }
  .skills{
    font-size: 2rem;
  }
  h1{
    font-size:2rem;
  }
}

@media(max-width:380px){
    .skills{
    font-size:1rem;
  }
}

@media(max-width: 300px){
  .item{
    margin:1px;
  }

}

@keyframes fadein {
    0% { 
      opacity: 0;
      transform: translateY(30px); 
    }
    50%   { 
      opacity: 0.5; 
      transform: translateY(-30px);
    }
    100%{
      opacity:1;
      transform: translateY(0);
    }
}







