* {
  margin:0;
  padding:0;
}

html{
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}


h1{
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
  
}



h2{
  font-family: 'Poiret One', cursive;
  margin-top:20px;
  color:#de8787;
  -webkit-animation: fadein 1.3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.3s; /* Firefox < 16 */
        -ms-animation: fadein 1.3s; /* Internet Explorer */
         -o-animation: fadein 1.3s; /* Opera < 12.1 */
            animation: fadein 1.3s;
}

img{
  width:200px;
  height:200px;
  background-color: #fff;
  transition:0.5s;
}



/*Main Title Section*/

.container{
  position:fixed;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  height: 60px;
  background-color:#222;
  transition-duration: 1s;
  text-decoration: none;
  z-index: 10;

}

a.item{
  position: relative;
  padding: 5px;
}

a.item:after {    
  /*background: none repeat scroll 0 0 transparent;*/
  bottom: 0;
  content: "";
  /*display: block;*/
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a.item:hover:after { 
  width: 80%; 
  left: 10%; 
}


.item{
  
  margin-right:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#17252A;
  color:#e82525;
  transition: 0.5s;
  text-decoration: none;
}

.item:hover{
  text-decoration: none;
  color:#fff;

}


#right-most{
  margin-right:100px;
}


.main-title{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height: 100vh;
  text-align:center;
  background-color:#000;
  color: white;
  
}

.title-button{
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  align-self:center;
  margin:50px;
  font-size:3rem;
  transition: 0.5s;
  outline: none;
  color:#fff;
  text-decoration: none;
  padding:10px;

}

.title-button:hover{
  color:#e82525;
}

/*About Section*/

.skill-title{
  text-align: center;
  margin-top:80px;
}

.skills{
  padding:20px;
  color:#fff;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 3rem;
}

.skill{
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  text-align: left;
}



/*Projects Section*/

.projects-section{
  display: flex;
  flex-direction: column;
  background-color: #017888;
  align-items: center;
  justify-content: center;
  background-color: #111;
}

.singleP-section{
  display: flex;
  justify-content: center;
  margin:20px 0;
  flex-wrap: wrap;

}

.project{
  background-color: #17252A;
  text-align: center;
  margin:20px 20px;
  color:#fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.5s;
  border-radius: 10%;
}

.project:hover{
  color:#81EAD6;
  transform: translateY(10px);
  /*transform: scale(1.1);*/
}

.caption{
  padding: 10px 0;
  text-decoration: none;
  color:#fff;
}

.init-none{
  display: none;
  color:#7cf8ff;
  width:200px;
  height:200px;
  background-color:  #17252A;
  border-radius: 10%;

  /*opacity:0;*/
  transition:1s;*/
}

.init-none:hover{
  opacity:1;
}



.quotes{
  font-size: 13px;
}

.link{
  color:#f9fca6;
  text-decoration: underline;
}

#p-title{
  color:#fff;
  padding:100px 0 50px 0;
}

/*Contact Section*/

.contacts{
  background-color:#222;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact{
  color:#fff;
  text-align: center;
  font-size: 1.5rem;
  margin:20px;
  transition: 0.5s;
  text-decoration: none;
}

.contact:hover{
  color:#81EAD6;
  transform: rotate(10deg);
}




@media(max-width: 860px){
  #p-title{
    font-size: 2rem;
  }
}

@media(max-width:670px){
  .singleP-section{
    flex-wrap: wrap;
  }
}

@media(max-width: 565px){
  #p-title{
    font-size: 1rem;
  }
}



@media(max-width: 484px){
  .container{
    font-size:1rem;
  }
  .item{
    width:80px;
  }
  .title-button{
    font-size: 1rem;
  }
  .skills{
    font-size: 2rem;
  }
  h1{
    font-size:2rem;
  }
}

@media(max-width:380px){
    .skills{
    font-size:1rem;
  }
}

@media(max-width: 300px){
  .item{
    margin:1px;
  }

}

@keyframes fadein {
    0% { 
      opacity: 0;
      transform: translateY(30px); 
    }
    50%   { 
      opacity: 0.5; 
      transform: translateY(-30px);
    }
    100%{
      opacity:1;
      transform: translateY(0);
    }
}







