* {
  margin:0;
  padding:0;
}


html{
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

ul{
  list-style: none;
}


div.typewriter-text{
  font-size: 3rem;
  font-family: 'Permanent Marker', cursive;
  
}



h2{
  font-family: 'Poiret One', cursive;
  margin-top:20px;
  color:#de8787;
  opacity: 0;
}

img{
  width:200px;
  height:200px;
  background-color: #fff;
  transition:0.5s;
}

canvas{
  z-index: 0;
  /*position: absolute;*/
}

.nav-hamburger{
  margin-right:auto;
  margin-left:100px;
  width:40px;
  height:40px;
  background-color: transparent;
  border:2px solid #de8787;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  opacity: 0;

}

.nav-ham-bar1{
  width:30px;
  animation: nav-bar-movementA;
}
.nav-ham-bar2{
  width:20px;
  animation: nav-bar-movementB;
  animation-delay: .1s;
  
}
.nav-ham-bar3{
  width:10px;
  animation: nav-bar-movementC;
  animation-delay: .2s;
}
.nav-ham-bar1,.nav-ham-bar2,.nav-ham-bar3{
  margin-left:5px;
  margin-bottom:5px;
  height:3px;
  background-color: #de8787;
  animation-duration: .5s;
  transition: .3s;
}
.nav-hamburger:hover .nav-ham-bar1{
  width:10px;
}
.nav-hamburger:hover .nav-ham-bar2{
  width:30px;
}
.nav-hamburger:hover .nav-ham-bar3{
  width:20px;
}

@keyframes nav-bar-movementA{
  0%{
    width:0;
  }
  100%{
    width:80%;
  }
}
@keyframes nav-bar-movementB{
  0%{
    width:0;
  }
  100%{
    width:50%;
  }
}
@keyframes nav-bar-movementC{
  0%{
    width:0;
  }
  100%{
    width:30%;
  }
}

.collapsed-navlinks{
  position: fixed;
  top:0px;
  transform: translate3d(0,-300px,0);
  z-index: 30;
  background-color: rgba( 222, 135, 135,0.8);
  width:100%;
  transition: .3s;
}
.collapse-show{
  transform:translate3d(0,60px,0);
}
.collapsed-navlinks li{
  margin-left: 50px;
  padding:8px 0;
  font-weight: bold;
}

.collapsed-navlinks a{
  color:#000;
  text-decoration:none;
}



/*Main Title Section*/

.container{
  position:fixed;
  top: 0;
  left: 0;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 60px;
  background-color:#222;
  transition-duration: 1s;
  text-decoration: none;
  z-index: 10;
  border-bottom:2px solid #de8787;

}

a.item{
  position: relative;
  padding: 5px;
}

a.item:after {    
  /*background: none repeat scroll 0 0 transparent;*/
  bottom: 0;
  content: "";
  /*display: block;*/
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a.item:hover:after { 
  width: 80%; 
  left: 10%; 
}

a.item:active{
  color:#fff;
}

a.item button{
  color:#fff;
  background-color:#000;
  border:none;
  outline:none;
}



.item{
  
  margin-right:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#222;
  color:#de8787;
  transition: 0.5s;
  text-decoration: none;
}

.item:hover{
  text-decoration: none;
  color:#fff;

}
.active{
  color:#fff;
}



#right-most{
  margin-right:100px;
}


.typewriter {
    font-family: Courier, monospace;
    display: inline-block;
    color:#fff;

}

.typewriter-text {
    /*display: inline-block;*/
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 0.5s steps(30, end), blink .5s step-end 1;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid #000;
    box-sizing: border-box;
}

#delay-typing{
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes typing {
    0% { 
        width: 0% 
    }
    50%{
        opacity: 1; 
    }
    100% { 
        width: 100%;
        opacity:1;

    }
}

@keyframes blink {
    from, to { 
        border-color: transparent; 
    }
    50% { 
        border-color: orange; 
    }
    100%{
      border-color: transparent;
    }
}

.main-title{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height: 100vh;
  text-align:center;
  background-color:#000;
  color: white;
  position: relative;
  
}
.main-title-content{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
}

.title-button{
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  align-self:center;
  margin:50px;
  font-size:3rem;
  transition: 0.5s;
  outline: none;
  color:#fff;
  text-decoration: none;
  padding:10px;

}

.title-button:hover{
  color:#e82525;
}

/*
  About Section
*/

.skill-title{
  text-align: center;
  margin:80px;
  width:100%;
  color:#000;
  text-shadow: 2px 2px #de8787;
}
.about-els{
  width:80%;
}
.about-el{
  background-color: #de8787;
  color:#fff;
  margin:5px;
  animation-duration: .5s;
  font-size: 2rem;
  padding:5px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #000;
}
.a-1{
  animation:aA;
  width:100%;
}
.a-2{
  animation:aB;
  width:90%;
}
.a-3{
  animation:aC;
  width:85%;
}
.a-4{
  animation:aD;
  width:50%;
}
.a-5{
  animation:aE;
  width:30%;
}
.a-6{
  animation:aF;
  width:30%;
}
.a-1,.a-2,.a-3,.a-4,.a-5,.a-6{
  animation-duration: 1s;
}
@keyframes aA{
  0%{
    width:0;
  }
  100%{
    width:100%;
  }
}
@keyframes aB{
  0%{
    width:0;
  }
  100%{
    width:90%;
  }
}
@keyframes aC{
  0%{
    width:0;
  }
  100%{
    width:85%;
  }
}
@keyframes aD{
  0%{
    width:0;
  }
  100%{
    width:50%;
  }
}
@keyframes aE{
  0%{
    width:0;
  }
  100%{
    width:30%;
  }
}
@keyframes aF{
  0%{
    width:0;
  }
  100%{
    width:30%;
  }
}

#last-skill{
  margin-bottom: 100px;
}
.skills{
  padding:20px;
  padding-bottom: 100px;
  color:#fff;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
  clip-path: polygon(0 0,100% 0,100% 90%,50% 100%,0 90%);
  margin-bottom: -10%;
}

.skill{
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  text-align: left;
}



/*
  Projects Section
*/


.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(230,230,230);
  padding-bottom: 100px;
  padding-top:100px;
}
.individual-projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
  
.project-nav{
  display: flex;
  width:100%;
  justify-content: center;
  flex-wrap: wrap;

}
.p-nav{
  margin:20px;
  margin-bottom: 50px;
  border:3px solid #de8787;
  border-radius: 10%;
  padding:20px 30px;
  background-color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
}
.p-nav:focus{
  outline: none;
}
.p-nav:hover{
  background-color: #de8787;
  color: #fff;
}

.hide{
  opacity: 0.1;
}
.show{
  transform:scale(1);
}
.project{
  position: relative;
  transition: 1s;
}

.project-cover{
  position: absolute;
  top:0;
  width:400px;
  height:300px;
  background-color: rgba(230,230,230,0);
  z-index: 2;
  transition: .5s;
}

.project-info{
  position: absolute;
  left:0px;
  opacity:0;
  transition: .5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  top:20%;
}
.p-button{
  position: absolute;
  cursor: pointer;
  right:0px;
  bottom:30%;
  opacity:0;
  transition:.5s;
  background-color: transparent;
  border:2px solid #de8787;
  padding:10px 20px;
  font-size: 1.5rem;
  font-family: 'Poiret One', cursive;

}
.p-button:hover{
  background-color: #de8787;
  color:#eee;
}
.p-button:focus{
  outline: none;
}
.p-subtitle{
  color:#de8787;
}
.bold{
  font-weight: bold;
  font-size: 2rem;
}
.project:hover .project-cover{
  background-color: rgba(230,230,230,1);
}
.project:hover .project-info{
  left:35%;
  top:20%;
  opacity:1;
}
.project:hover .p-button{
  right:32%;
  opacity: 1;
  bottom: 30%;
}

.project img{
  width:400px;
  height:auto;
  margin-bottom:1px;
  margin-right: 1px;
  z-index: 1;
}


/*
  Contact Section
*/

.contacts{
  background-color:#222;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact{
  color:#fff;
  text-align: center;
  font-size: 1.5rem;
  margin:20px;
  transition: 0.5s;
  text-decoration: none;
}

.contact:hover{
  color: #de8787;
  transform: rotate(10deg);
}

@media(max-width: 910px){
  .p-nav{
    padding:10px;
    margin-bottom: 20px;
  }

}


@media(max-width: 860px){
  #p-title{
    font-size: 2rem;
  }
}

@media(max-width:670px){
  nav .item{
    display:none;
  }
  .singleP-section{
    flex-wrap: wrap;
  }
  div.typewriter-text,h2.typewriter-text{
    font-size: 1.5rem;
  }
  .nav-hamburger{
    opacity: 1;
  }



}

@media(max-width: 565px){
  #p-title{
    font-size: 1rem;
  }
}



@media(max-width: 484px){
  .container{
    font-size:1rem;
  }
  .item{
    width:80px;
  }
  .title-button{
    font-size: 1rem;
  }
  .skills{
    font-size: 2rem;
  }
  .skill-title{
    font-size: 2rem;
  }
  .about-el{
    font-size: 1rem;
  }
  h1{
    font-size:2rem;
  }
  .project img{
    width:200px;
  }
  .project-cover{
    width:200px;
    height:150px;
  }
  .bold{
    font-size: 1rem;
  }
  .p-button{
    font-size: 1rem;
    padding:5px;
  }
  .project-cover:hover .p-button{
    right:28%;
  }

}

@media(max-width:380px){
    .skills{
    font-size:1rem;
  }
  .nav-hamburger{
    margin-left: 50px;
  }
}

@media(max-width: 300px){
  .item{
    margin:1px;
  }

}

@media(max-width: 200px){
  .project img{
    width:100px;
  }
  .project-cover{
    width:100px;
    height:75px;
  }

  .project-info,.bold{
    font-size: 0.5rem;
  }
  .p-button{
    font-size: 0.5rem;
    padding:0px;
  }
  .project-cover:hover .p-button{
    right:28%;
  }
}

@keyframes fadein {
    0% { 
      opacity: 0;
      transform: translateY(30px); 
    }
    50%   { 
      opacity: 0.5; 
      transform: translateY(-30px);
    }
    100%{
      opacity:1;
      transform: translateY(0);
    }
}







