* {
  margin:0;
  padding:0;
}

h1{
  font-size: 3rem;
  font-family: 'Permanent Marker', cursive;
}

h2{
  font-family: 'Poiret One', cursive;
  color:#a5274b;
}



.container{
  position:fixed;
  color: #ffffff;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  height: 80px;
  background-color:#a5274b;

}

.item{
  margin:20px;
}

.right-edge{
  margin: 0 50px 0 0;
}

.main-title{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height: 100vh;
  /*width: 100vw;*/
  text-align:center;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  color: white;
}

.title-button{
  font-family: 'Poiret One', cursive;
  width:250px;
  height:60px;
  align-self:center;
  margin:50px;
  background-color:#a5274b;
  color:white;
  border-radius:20px;
  font-size:20px;
  border: 5px solid white;
  transition: 0.5s;
  outline: none;

}



.title-button:hover{
  background-color:white;
  color:black;
}




