* {
  margin:0;
  padding:0;
}

html{
  scroll-behavior: smooth;
  font-family: 'Permanent Marker', cursive;
  box-sizing: border-box;
}


h1{
  font-size: 3rem;
  font-family: 'Permanent Marker', cursive;
}

h2{
  font-family: 'Poiret One', cursive;
  color:#025F6C;
}

img{
  width:200px;
  height:200px;
  background-color: #fff;
  transition: 0.3s;
  opacity: 1;
  border-radius: 10%;
}

div.project:hover img{
  opacity: 0.3;
}



/*Main Title Section*/

.container{
  position:fixed;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  height: 80px;
  background-color:#17252A;
  transition-duration: 1s;
  text-decoration: none;

}

.item{
  
  margin-right:20px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#17252A;
  color:#81EAD6;
  transition: 0.5s;
  text-decoration: none;
}

.item:hover{
  transform: translateY(5px);
  text-decoration: none;
  color:#fff;

}


.main-title{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height: 100vh;
  /*width: 100vw;*/
  text-align:center;
  background-color:#3AAFA9;
  color: white;
}

.title-button{
  font-family: 'Permanent Marker', cursive;
  background-color: #17252A;
  align-self:center;
  margin:50px;
  border-radius:20px;
  font-size:2rem;
  transition: 0.5s;
  outline: none;
  color:#fff;
  text-decoration: none;
  padding:10px;
  border: 5px solid #fff;

}

.title-button:hover{
  color:#17252A;
  background-color: #fff;
}

/*Skills Section*/

.skills{
  color:#fff;
  background-color: #53C7D7;
  display: flex;
  justify-content: space-around;
}



/*Projects Section*/

.projects-section{
  display: flex;
  flex-direction: column;
  background-color: #017888;
  align-items: center;
  justify-content: center;
}

.singleP-section{
  display: flex;
  justify-content: center;
  margin:20px 0;

}

.project{
  background-color: #17252A;
  text-align: center;
  margin:20px 20px;
  color:#fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.5s;
  border-radius: 10%;
  box-shadow: 5px 5px #015D6A;
}

.project:hover{
  transform: translateY(10px);
}

.caption{
  padding: 10px 0;
}

#p-title{
  color:#fff;
  padding:100px 0 50px 0;
}

/*Contact Section*/

.contacts{
  background-color: #015D6A;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact{
  color:#fff;
  text-align: center;
  font-size: 1.5rem;
  margin:20px;
  transition: 0.5s;
  text-decoration: none;
}

.contact:hover{
  transform: rotate(10deg);
}




@media(max-width: 860px){
  #p-title{
    font-size: 2rem;
  }
}

@media(max-width:670px){
  .singleP-section{
    flex-wrap: wrap;
  }
}

@media(max-width: 565px){
  #p-title{
    font-size: 1rem;
  }
}



@media(max-width: 484px){
  .container{
    font-size:1rem;
  }
  .item{
    width:80px;
  }
  .title-button{
    font-size: 1rem;
  }
  h1{
    font-size:2rem;
  }
}

@media(max-width: 300px){
  .item{
    margin:1px;
  }
}







